<?xml version="1.0" encoding="UTF-8"?>  
<configuration>  
    <include resource="org/springframework/boot/logging/logback/base.xml"/>  
    <root level="info">      
        <appender-ref ref="CONSOLE" /> 
         <appender-ref ref="FILE"/>       
    </root> 
    <logger name="druid.sql.Statement" level="debug" additivity="false">  
        <appender-ref ref="CONSOLE"/>  
    </logger>
     <logger name="druid.sql.ResultSet" level="debug" additivity="false">  
        <appender-ref ref="CONSOLE"/>  
    </logger>
 </configuration>